<!-- <nav>
    <h1>shoes app</h1>
   
    <a href="/">HOME</a> | <a href="/shoes/add">CUSTOMIZE SHOES</a>
    <br><br>
    <a href="/colors">show all colors</a><br> 
    <a href="/types">show all types</a><br>
    <a href="/shoes">show all shoes</a><br>
    <a href="/customers">show all customers</a>
</nav> -->

<nav>
    <h1>shoes app</h1>

    <a href="/landingpage">HOME</a> | <a href="/types">CUSTOMIZE SHOES</a>
    <br><br>
    <a href="/shoes">show all shoes</a><br>
    <a href="/customers">show all customers</a>
</nav>