<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <H1>Selamat Datang di <b>SHOES APP!</b></H1>
    <H2>di sini adalah tempat di mana kamu custom sepatu mu sendiri</H2>

    <div>
        <a href="/mainpage">HALAMAN UTAMA</a>
    </div>

    <div>
        <p>sudah punya akun? klik tombol LOGIN</p>
        <a href="/login">LOGIN</a>
    </div>

    <div>
        <p>belum punya akun? yuk REGISTER</p>
        <a href="/register">REGISTER</a>
    </div>
</body>
</html>