<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Selamat datang</h1>
    <h2>silahkan masukkan username dan password kamu di sini!</h2>

    <form action="/login" method="POST">
        <div>
            <label for="username">username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">password:</label>
            <input type="text" name="password">
        </div>
    
        <button type="submit">submit</button>
        <a href="/">cancel</a>
    </form>
</body>
</html>